fastapi
uvicorn
streamlit
rasterio
numpy
scipy
langchain
langchain-classic
langchain-community
langchain-openai
segment-geospatial
leafmap
folium
streamlit-folium
geopandas
scikit-image
torch
torchvision
python-multipart
sqlalchemy
alembic
opencv-python
Pillow
opensr-utils
onnxruntime
huggingface-hub
plotly
